@import "../../components/dumb/Item/Item";
@import "../../components/dumb/AddItem/AddItem";

.items-container {
  position: relative;

  @include desktop {
    padding: 0 2vw;
  }

  @include  tablet {
    padding: 0 3vw;
  }

  @include mobile {
    padding: 0 2vw;
  }

}