@import "../../../shared";

.contact-form {
  form {
    width: 288px;
    margin: auto;
    padding: 0 8px 80px 8px;
    position: relative;

    input {
      display: block;
      height: 32px;
      width: calc(100% - 6px);
      margin-bottom: 20px;
      border: none;

      @include note();
    }
    textarea {
      width: calc(100% - 6px);
      height: 96px;
      border: none;

      @include note();
    }
    .button {
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      bottom: 20px;
      font-size: 18px;
    }
  }
}