@import "../FilesUpload/FilesUpload";

.add-item-container {
  padding: 24px;
  width: 100%;

  .name-type {
    display: flex;
  }

  .name-input {
    .create-wizard-tool & {
      width: 100% !important;
    }
  }

  .type-input {
    .create-wizard-tool & {
      display: none !important;
    }
  }

  .textarea {
    min-height: 64px;
  }


  .button-container {
    width: 100%;
    max-width: 512px;
    display: flex;
    margin: auto;


    button {
      width: 50%;
    }

    .cancel-button {
      background-color: $dark-grey;
    }

    .add-button {
      background-color: $green;
    }
  }

  form {
    width: 100%;

    input {
      width: 100%;
      font-size: 18px;
      margin-bottom: 12px;

    }
    textarea {
      width: 100%;
      height: 64px;
      font-size: 16px;
      margin-bottom: 12px;

      &.long {
        height: 128px
      }
    }
  }
}
