@import "../../../../shared";

.expandable-note {

  &.note {
    background-color: #FFFFFF;
    transition: all 400ms;

    .image-container {
        height: 192px;
      img {
        width: initial;
        max-height: 100%;
      }
    }

    .slide {
      background: transparent;
    }

    .text {
      text-align: left;
      padding: 0 12px 12px;
      line-height: 133%;

      @include desktop {
        padding: 0 32px 32px;
      }
    }

    &.expand {
      overflow-y: scroll;

      .image-container {
        height: 256px;
      }

    }

    .expand-button {
      cursor: pointer;
      float: right;
      padding: 0 8px;
      text-decoration: underline;
    }
  }

}