.item {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid;
  display: inline-block;

  position: relative;
  width: 23vw;
  height: 23vw;
  margin: .5vw;
  background: white;
  background-position: center 40px;
  background-size: auto 16vh;
  background-repeat: no-repeat;
  padding: 12px;

  &.selected {
    border-color: #11ff88;
  }
  @include mobile {
    width: 46vw;
    margin: 1vw;
    height: 46vw;
    border-radius: 2px;
    background-position: center 32px;
  }

  @include tablet {
    width: 30vw;
    margin: .6vw;
    height: 30vw;
    padding: 0 3vw;
  }

  &.expand {
    overflow-y: scroll;
    transition: all 0.3s;
    position: fixed;
    width: inherit;
    height: inherit;
    top: $header-offset;
    bottom: 16px;
    right: 16px;
    left: 16px;
    z-index: 2;

    @include mobile {
        bottom: 8px;
        right: 8px;
        left: 8px;
    }

  }


  .title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 128px;

    @include mobile {
      font-size: 24px;
    }
  }

  .description {

  }
}