@import "../../../../shared";

.text-note {
  background-color: #ffffff;
  transition: all 400ms;

  &.note {
    .text {
      text-align: left;
      padding: 0 12px 12px;
      line-height: 133%;

      @include desktop {
        padding: 0 32px 32px;
      }
    }
  }
}

