@import './../node_modules/react-responsive-carousel/lib/styles/carousel.css';
@import './../node_modules/react-responsive-carousel/lib/styles/main.css';
@import "../../components/smart/ContactForm/ContactForm";

.container {

  .title {
    font-size: 32px;
    padding: 32px;
    text-align: center;

    @include mobile {
      padding: 24px;
    }

    @include tablet {
      padding: 24px;
    }
  }
  .cover {
    height: 384px;

    * {
      z-index: -1;
      position: fixed;
      transform: translateX(-50%);
      left: 50%;
      width: 100%;

      .long-screen & {
        width: inherit;
        height: 100%;
      }
    }

    .slide {
      height: 384px;
    }

  }

  .text {
    font-size: 16px;
  }


  .how-it-work {

    background-color: #ffffff;
    overflow: hidden;
    
    .title {
      padding-bottom: 0;
    }

    .all-stages-container {
      display: flex;
      @include tablet {
        display: block;
      }
      @include mobile {
        display: block;
      }
    }

    .two-stages-container {
      text-align: center;
      display: flex;
      width: 50%;
      margin: 24px 0;

      @include tablet {
        display: flex;
        margin-bottom: 40px;
        width: 100%;
      }
      @include mobile {
        display: block;
        width: 100%;
        margin: 4px 0;
      }
    }

    .stage {
      overflow: hidden;
      width: 50%;
      height: 256px;
      margin: 16px;
      padding-top: 168px;
      background-size: auto 160px;
      background-position: top center;
      background-repeat: no-repeat;

      &.stage1 {
        background-image: url('./assets/images/number1.png');
      }

      &.stage2 {
        background-image: url('./assets/images/number2.png');
      }

      &.stage3 {
        background-image: url('./assets/images/number3.png');
      }

      &.stage4 {
        background-image: url('./assets/images/number4.png');
      }

      .head {
        font-size: 24px;
        margin-bottom: 4px;
      }

      .text {
        font-size: 16px;
      }

      @include mobile {
        height: 160px;
        padding-top: 108px;
        background-size: auto 96px;
        width: 100%;
        margin: 32px 0;
      }

      @include tablet {
        height: 160px;
        padding-top: 108px;
        background-size: auto 96px;
      }
    }
  }

  .about {
    display: flex;
    background-color: honeydew;

    .text-container {
      width: 50%;
      padding-bottom: 32px;
    }

    .image-container {
      width: 50%;
      background-image: url('./assets/images/about.jpg');
      background-size: auto 100%;
    }
    .text {

      padding: 0 32px;
      line-height: 133%;

      @include desktop {
        padding: 0 40px;
        font-size: 18px;
      }
    }

    @include mobile {
      display: block;

      .text-container {
        width: 100%;
      }

      .image-container {
        display: none;
      }
    }
  }
}

.footer {
  font-size: 18px;
  padding: 24px 32px;
  color: white;
  background-color: $dark-grey;
}

