.text-image-note {
  transition: all .2s ease-in-out;
  background-color: #ffffff;
  text-align: center;

  .image-container {
    max-width: 100%;
    padding: 0 12%;
    img {
      width: 80%;
    }
  }

  .text {
    padding: 4px;
    margin-bottom: 8px;

    textarea {
      width: calc(100% - 8px);
    }
  }
}
