.create-wizard-tool {

  .CircularProgressbar {
    display: none;
  }
  &.progress {
    &:before {
      content: '';
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 1;
      background: white;
      opacity: .3;
    }

    .CircularProgressbar {
      display: block;
      position: fixed;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      stroke: $green;
      fill: $green;
      width: 128px;
      height: 128px;
      z-index: 2;


      .CircularProgressbar-text {
        font-size: 32px;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50% !important;
        left: 50% !important;
      }

    }

  }


  .items-container {
    height: calc(100vh - #{$ofsset});
    overflow: scroll;

    .item {
      &.add-item {
        position: relative;
        padding: 0;
        cursor: pointer;

        div {
          font-size: 32px;
          font-weight: bold;
          text-align: center;
          padding: 0;
          position: absolute;
          transform: translateY(-50%);
          width: 100%;
          top: 40%;
        }
      }
    }
  }

  .bread-crumbs {
    .pointer {
      div {
        padding: 5px 0 0 16px;
        div {
          padding: 0;
        }
      }
      input {
        background: transparent;
        border: none;
        border-bottom: solid 2px $dark-grey;
        font-size: 18px;
        color: white;
      }
    }
  }

}
