$tablet-width: 600px;
$header-offset: 48px;
$desktop-width: 1024px;


$green: #03C669;
$dark-grey: #444444;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

body {
  //direction: rtl;
  position: relative;
}

#root {
  padding-top: $header-offset;
}

.hide-in-mobile {
  @include mobile {
    display: none;
  }
}

.hide-in-tablet {
  @include tablet {
    display: none;
  }
}

.hide-in-desktop {
  @include desktop {
    display: none;
  }
}

.br {
  height: 20px;
  width: 100%;
}

.right-icon {
  position: absolute;
  top: 2px;
  right: 2px;
}

.left-icon {
  position: absolute;
  top: 2px;
  left: 2px;
}

.small-icon {
  svg {
    height: 20px;
    width: 20px;
  }
}

.big-icon {
  svg {
    height: 32px;
    width: 32px;
  }
}

button {
  text-align: center;
  color: white;
  border: none;
  padding: 12px 0;
  margin: 4px;
  font-size: 18px;
  cursor: pointer;

}



@import "pages/Home/Home";
@import "pages/Items/Items";
@import "pages/Wizard/Wizard";
@import "pages/Orders/Orders";
@import "pages/Settings/Settings";
//@import "pages/Post/AddPost";
//@import "pages/VideoEditor/VideoEditor";
@import "components/smart/CreateWizardTool/CreateWizardTool";
@import "components/smart/Menu/Menu";
@import "components/smart/Header/Header";
